<!DOCTYPE html>
<html>
<title>Studium</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url(https://images.pexels.com/photos/711009/pexels-photo-711009.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
</style>

<%= link_to 'List of Profiles', controller: 'profiles' %>

<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Logo
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top">WELCOME</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center">Project "Studium" - Coming Soon!</p>
  </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Group Project for <a href="" target="_blank">3155</a>
  </div>
</div>

</body>
</html>